<form class="pure-form pure-form-stacked" name="vm.form" novalidate>
  <div class="pure-g">
    <div class="pure-u-1">
      <label for="{{vm.inputs.service.name}}" data-ng-hide="vm.form.service.$dirty && vm.form.service.$error.required" data-ng-bind="vm.inputs.service.label"></label>
      <label for="{{vm.inputs.service.name}}" class="kw-error" data-ng-show="vm.form.service.$dirty && vm.form.service.$error.required" data-ng-bind="vm.inputs.service.validation.required"></label>
      <select name="service" data-ng-model="vm.ticket.service" data-ng-options="item.value as item.label for item in vm.inputs.service.options.items" required>
        <option value="" data-ng-bind="vm.inputs.service.options.default" selected></option>
      </select>
    </div>
    <div class="pure-u-1">
      <label for="{{vm.inputs.company.name}}" data-ng-bind="vm.inputs.company.label"></label>
      <input type="text" name="company" placeholder="{{vm.inputs.company.placeholder}}" data-ng-model="vm.ticket.company">
    </div>
    <div class="pure-u-1">
      <label for="{{vm.inputs.name.name}}" data-ng-hide="vm.form.name.$dirty && vm.form.name.$error.required" data-ng-bind="vm.inputs.name.label"></label>
      <label for="{{vm.inputs.name.name}}" class="kw-error" data-ng-show="vm.form.name.$dirty && vm.form.name.$error.required" data-ng-bind="vm.inputs.name.validation.required"></label>
      <input type="text" name="name" placeholder="{{vm.inputs.name.placeholder}}" data-ng-model="vm.ticket.name" required>
    </div>
    <div class="pure-u-1">
      <label for="{{vm.inputs.last.name}}" data-ng-hide="vm.form.last.$dirty && vm.form.last.$error.required" data-ng-bind="vm.inputs.last.label"></label>
      <label for="{{vm.inputs.last.name}}" class="kw-error" data-ng-show="vm.form.last.$dirty && vm.form.last.$error.required" data-ng-bind="vm.inputs.last.validation.required"></label>
      <input type="text" name="last" placeholder="{{vm.inputs.last.placeholder}}" data-ng-model="vm.ticket.last" required>
    </div>
    <div class="pure-u-1">
      <label for="{{vm.inputs.email.name}}" data-ng-hide="vm.form.email.$dirty && (vm.form.email.$error.required || vm.form.email.$error.email)" data-ng-bind="vm.inputs.email.label"></label>
      <label for="{{vm.inputs.email.name}}" class="kw-error" data-ng-show="vm.form.email.$dirty && vm.form.email.$error.required" data-ng-bind="vm.inputs.email.validation.required"></label>
      <label for="{{vm.inputs.email.name}}" class="kw-error" data-ng-show="vm.form.email.$dirty && vm.form.email.$error.email" data-ng-bind="vm.inputs.email.validation.invalid"></label>
      <input type="email" name="email" placeholder="{{vm.inputs.email.placeholder}}" data-ng-model="vm.ticket.email" required>
    </div>
    <div class="pure-u-1">
      <label for="{{vm.inputs.mobile.name}}" data-ng-hide="vm.form.mobile.$dirty && (vm.form.mobile.$error.required || vm.form.mobile.$error.pattern || vm.form.mobile.$error.maxlength)" data-ng-bind="vm.inputs.mobile.label"></label>
      <label for="{{vm.inputs.mobile.name}}" class="kw-error" data-ng-show="vm.form.mobile.$dirty && vm.form.mobile.$error.required" data-ng-bind="vm.inputs.mobile.validation.required"></label>
      <label for="{{vm.inputs.mobile.name}}" class="kw-error" data-ng-show="vm.form.mobile.$dirty && (vm.form.mobile.$error.pattern || vm.form.mobile.$error.maxlength)" data-ng-bind="vm.inputs.mobile.validation.invalid"></label>
      <input type="text" name="mobile" placeholder="{{vm.inputs.mobile.placeholder}}" maxlength="10" data-ng-model="vm.ticket.mobile" data-ng-pattern="/\d{10}/" data-ng-maxlength="10" required>
    </div>
    <div class="pure-u-1">
      <label for="{{vm.inputs.contact.name}}" data-ng-hide="vm.form.contact.$dirty && vm.form.contact.$error.required" data-ng-bind="vm.inputs.contact.label"></label>
      <label for="{{vm.inputs.contact.name}}" class="kw-error" data-ng-show="vm.form.contact.$dirty && vm.form.contact.$error.required" data-ng-bind="vm.inputs.contact.validation.required"></label>
      <select name="contact" data-ng-model="vm.ticket.contact" data-ng-options="item.value as item.label for item in vm.inputs.contact.options.items" required>
        <option value="" data-ng-bind="vm.inputs.contact.options.default" selected></option>
      </select>
    </div>
    <div class="pure-u-1">
      <label for="{{vm.inputs.zip.name}}" data-ng-hide="vm.form.zip.$dirty && (vm.form.zip.$error.required || vm.form.zip.$error.pattern || vm.form.zip.$error.maxlength || vm.errors.zip)" data-ng-bind="vm.inputs.zip.label"></label>
      <label for="{{vm.inputs.zip.name}}" class="kw-error" data-ng-show="vm.form.zip.$dirty && vm.errors.zip" data-ng-bind="vm.inputs.zip.validation.inexistent"></label>
      <label for="{{vm.inputs.zip.name}}" class="kw-error" data-ng-show="vm.form.zip.$dirty && (vm.form.zip.$error.pattern || vm.form.zip.$error.maxlength)" data-ng-bind="vm.inputs.zip.validation.invalid"></label>
      <label for="{{vm.inputs.zip.name}}" class="kw-error" data-ng-show="vm.form.zip.$dirty && vm.form.zip.$error.required" data-ng-bind="vm.inputs.zip.validation.required"></label>
      <input type="text" name="zip" placeholder="{{vm.inputs.zip.placeholder}}" maxlength="5" data-ng-model="vm.ticket.zip" data-ng-pattern="/\d{5}/" data-ng-maxlength="5" data-ng-change="vm.geoZip(vm.ticket.zip)" required>
    </div>
    <div class="pure-u-1">
      <label for="{{vm.inputs.state.name}}" data-ng-hide="vm.form.state.$dirty && vm.form.state.$error.required" data-ng-bind="vm.inputs.state.label"></label>
      <label for="{{vm.inputs.state.name}}" class="kw-error" data-ng-show="vm.form.state.$dirty && vm.form.state.$error.required" data-ng-bind="vm.inputs.state.validation.required"></label>
      <select name="state" data-ng-model="vm.ticket.state" data-ng-options="state.name as state.name for state in vm.states" data-ng-change="vm.getMunicipalities(vm.ticket.state)" required>
        <option value="" data-ng-bind="vm.inputs.state.options.default" selected></option>
      </select>
    </div>
    <div class="pure-u-1">
      <label for="{{vm.inputs.municipality.name}}" data-ng-hide="vm.form.municipality.$dirty && vm.form.municipality.$error.required" data-ng-bind="vm.inputs.municipality.label"></label>
      <label for="{{vm.inputs.municipality.name}}" class="kw-error" data-ng-show="vm.form.municipality.$dirty && vm.form.municipality.$error.required" data-ng-bind="vm.inputs.municipality.validation.required"></label>
      <select name="municipality" data-ng-model="vm.ticket.municipality" data-ng-options="municipality.name as municipality.name for municipality in vm.municipalities" data-ng-change="vm.getDistricts(vm.ticket.state, vm.ticket.municipality)"required>
        <option value="" data-ng-bind="vm.inputs.municipality.options.default" selected></option>
      </select>
    </div>
    <div class="pure-u-1">
      <label for="{{vm.inputs.district.name}}" data-ng-hide="vm.form.district.$dirty && vm.form.district.$error.required" data-ng-bind="vm.inputs.district.label"></label>
      <label for="{{vm.inputs.district.name}}" class="kw-error" data-ng-show="vm.form.district.$dirty && vm.form.district.$error.required" data-ng-bind="vm.inputs.district.validation.required"></label>
      <select name="district" data-ng-model="vm.ticket.district" data-ng-options="district.name as district.name for district in vm.districts" data-ng-change="vm.getZip(vm.ticket.district)"required>
        <option value="" data-ng-bind="vm.inputs.district.options.default" selected></option>
      </select>
    </div>
    <div class="pure-u-1">
      <label for="{{vm.inputs.street.name}}" data-ng-hide="vm.form.street.$dirty && vm.form.street.$error.required" data-ng-bind="vm.inputs.street.label"></label>
      <label for="{{vm.inputs.street.name}}" class="kw-error" data-ng-show="vm.form.street.$dirty && vm.form.street.$error.required" data-ng-bind="vm.inputs.street.validation.required"></label>
      <input type="text" name="street" placeholder="{{vm.inputs.street.placeholder}}" data-ng-model="vm.ticket.street" required>
    </div>
    <div class="pure-u-1">
      <label for="{{vm.inputs.number.name}}" data-ng-hide="vm.form.number.$dirty && vm.form.number.$error.required" data-ng-bind="vm.inputs.number.label"></label>
      <label for="{{vm.inputs.number.name}}" class="kw-error" data-ng-show="vm.form.number.$dirty && vm.form.number.$error.required" data-ng-bind="vm.inputs.number.validation.required"></label>
      <input type="text" name="number" placeholder="{{vm.inputs.number.placeholder}}" data-ng-model="vm.ticket.number" required>
    </div>
    <div class="pure-u-1">
      <label for="{{vm.inputs.apt.name}}" data-ng-bind="vm.inputs.apt.label"></label>
      <input type="text" name="apt" placeholder="{{vm.inputs.number.placeholder}}" data-ng-model="vm.ticket.apt">
    </div>
    <div class="pure-u-1">
      <label for="{{vm.inputs.building.name}}" data-ng-bind="vm.inputs.building.labelResidential" data-ng-show="(vm.ticket.service == 'Residential') && !(vm.form.building.$dirty && vm.form.building.$error.required)"></label>
      <label for="{{vm.inputs.building.name}}" data-ng-bind="vm.inputs.building.labelBusiness" data-ng-show="vm.ticket.service != 'Residential' && !(vm.form.building.$dirty && vm.form.building.$error.required)"></label>
      <label for="{{vm.inputs.building.name}}" class="kw-error" data-ng-show="vm.form.building.$dirty && vm.form.building.$error.required" data-ng-bind="vm.inputs.building.validation.required"></label>
      <select name="building" data-ng-model="vm.ticket.building" data-ng-options="item.value as item.label for item in vm.inputs.building.options.items" required>
        <option value="" data-ng-bind="vm.inputs.building.options.default" selected></option>
      </select>
    </div>
    <div class="pure-u-1" data-ng-show="vm.ticket.building == 'building'">
      <label for="{{vm.inputs.levels.name}}" data-ng-hide="vm.form.levels.$dirty && (vm.form.levels.$error.required || vm.form.levels.$error.pattern || vm.form.levels.$error.maxlength)" data-ng-bind="vm.inputs.levels.label"></label>
      <label for="{{vm.inputs.levels.name}}" class="kw-error" data-ng-show="vm.form.levels.$dirty && vm.form.levels.$error.required" data-ng-bind="vm.inputs.levels.validation.required"></label>
      <label for="{{vm.inputs.levels.name}}" class="kw-error" data-ng-show="vm.form.levels.$dirty && vm.form.levels.$error.pattern || vm.form.levels.$error.maxlength" data-ng-bind="vm.inputs.levels.validation.invalid"></label>
      <input type="text" name="levels" placeholder="{{vm.inputs.levels.placeholder}}" maxlength="2" data-ng-model="vm.ticket.levels" data-ng-maxlength="2" data-ng-pattern="/\d{1,2}/" data-ng-required="vm.ticket.building == 'building'">
    </div>
    <div class="pure-u-1">
      <div class="kw-button-group">
        <button class="pure-button" type="submit" data-ng-class="{'pure-button-disabled': vm.form.$invalid}"data-ng-disabled="vm.form.$invalid"  data-ng-bind="vm.inputs.submit.label" data-ng-click="vm.submit(vm.ticket)"></button>
      </div>
    </div>
  </div>
</form>
